.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.map-container {
  width: 100vw;
  height: 80vh;
}

.marker-list-container {
  width: 100vw;
  height: 20vh;
  overflow-y: scroll;
}

.marker-list {
  font-size: small;
  list-style: none;
  margin: 0;
  padding: 0;
}

.marker-list-item {
  .position {
    display: flex;
    flex-direction: column;
  }
}
