.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.map-container {
  width: 100vw;
  height: 80vh;
}

.conttoller {
  color: #f1f1f1;
  background-color: #272a2e;
  width: 100vw;
  height: 20vh;
}

.tab-controller {
  font-size: 93%;
  display: flex;
  justify-content: start;
  border-bottom: 1px solid #999ea2;
}

.tab-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  outline: none;
  line-height: 1.5;
  padding: .25rem .5rem;
  background-color: transparent;
  transition:
    color .15s ease-in-out,
    background-color .15s ease-in-out;

  &:hover {
    background-color: #111416;
  }

  &.active {
    color: #b2b9bb;
    background-color: #111416;
  }
}

.tab-btn + .tab-btn {
  border-left: 1px solid #444e4e;
}

.control-body {
  overflow-y: scroll;
}

.marker-list {
  font-size: .83%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.marker-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
  border-bottom: 1px solid #444e4e;

  .position {
    display: flex;
    flex-direction: column;
  }

  .actions {
    .btn {
      font-size: 93%;
    }
    .btn + .btn {
      margin-left: .5rem;
    }
  }
}

.marker-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  > * {
    padding: 0 .5rem;
  }
}

.btn {
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  outline: none;
  transition:
    color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
}

.remove-btn {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  &:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
}

.fa {
  display: inline-block;
  font-size: 1rem;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-spin {
  animation: fa-spin 2s linear infinite;
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}
