.marker-list {
  font-size: .83%;
  list-style: none;
  margin: 0;
  padding: 0 0 1rem;
}

.marker-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
  border-bottom: 1px solid #444e4e;

  .position {
    display: flex;
    flex-direction: column;
  }

  .actions {
    .btn {
      font-size: 93%;
    }
    .btn + .btn {
      margin-left: .5rem;
    }
  }
}

.marker-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  > * {
    padding: 0 .5rem;
  }
}
